<form name='form1' action='controllerForm'  method= 'post'>
<input type='text' name='id' id='id' placeholder= 'id'><br>
<input type='text' name='name'  placeholder= 'Nome'><br>
<input type='text' name='idade'  placeholder= 'Idade'><br>
<input type='submit' name='btsumit'  id= 'btsubmit' value='Add'></input>   
</form>