<form name='form1' action='/controllerupdate'  method= 'post'>
<input type='hidden' name='id' id='id' placeholder= 'id' value='{{id}}'><br>
<input type='text' name='name'  placeholder= 'Nome' value='{{name}}'><br>
<input type='text' name='idade'  placeholder= 'Idade'{{idade}}><br>
<input type='submit' name='btsumit'  id= 'btsubmit' value='Enviar'></input>   
</form>